main {
    position: relative;
}

.content-1 {
    background-color: #017dc3;
    display: flex;
    color: #fff;
    align-items: center;
    .content-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        .left-listed-pre-hero {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 30px;
            width: 15%;
            background-color: #048fe0;
        }
        .right-listed-pre-hero {
            padding: 30px;
            width: 100%;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            li {
                color: #fff;
                padding: 20px;
            }
        }
    }
}
.content-2 {
    .backdrop-content-first {
        background-image: url("http://sman1rogojampi.sch.id/img_header/halaman%20depan.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        .bcf-wrapper {
            background-color: rgba(0, 0, 0, 0.7);
            height: 100%;
        }
    }
    background-color: #fff;
    height: 50vh;
}

// @media screen and (max-device-width: 480px) and (orientation: portrait) {
//     .background-video {
//         width: 100vw;
//         height: 100vh;
//     }
// }
