.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 0;
    left: 0;
    user-select: none;
    z-index: 9999;
    &.active {
        // backdrop-filter: blur(10px);
        background-color: #017dc3;
        color: #000;
        animation: fade 0.5s ease-in-out;
    }
    .left {
        width: 100%;
        padding: 30px 70px;
        display: flex;
        align-items: center;
        gap: 10px;
        img {
            width: 50px;
            height: 50px;
            object-fit: contain;
        }
        h4 {
            color: #fff;
            text-transform: uppercase;
        }
        p {
            color: #fff;
            line-height: 12px;
            font-size: small;
        }
    }
    .mid {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            display: flex;
            gap: 20px;
            color: #fff;
            list-style: none;
            text-transform: capitalize;
            li {
                cursor: pointer;
                font-weight: 500;
                transition: 0.3s ease;
                &:hover {
                    color: rgba(225, 225, 225, 0.6);
                }
            }
        }
    }
    .right {
        width: 90%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
        padding: 30px 70px;
        .search-wrapper {
            cursor: pointer;
            display: flex;
            align-items: center;
            span {
                color: #fff;
            }
        }
        .menu {
            display: flex;
            color: #fff;
            cursor: pointer;
            align-items: center;
        }
    }
}

.nav-actived-search {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99999;
    .button-close-search {
        position: fixed;
        right: 40px;
        top: 40px;
        span {
            background-color: #fff;
            padding: 5px;
            color: #017dc3;
            border-radius: 50%;
            cursor: pointer;
            user-select: none;
        }
    }
    .input-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        gap: 40px;
        .search-wrapper {
            display: flex;
            gap: 10px;
            display: flex;
            align-items: center;
            input {
                width: 40vw;
                border-radius: 20px;
                border: none;
                background-color: #fff;
                padding: 10px 20px;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    &.active {
        top: 15.5vh;
        .button-close-search {
            position: fixed;
            right: 60px;
            top: 20vh;
            span {
                background-color: #fff;
                padding: 5px;
                color: #017dc3;
                border-radius: 50%;
                cursor: pointer;
                user-select: none;
            }
        }
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-device-width: 640px) {
}
